html {
  scroll-behavior: smooth;
}

.nodeco {
  background-image: none;
  color: white;
}

.App {
  padding: 25px 10px 10px 10px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

section {
  padding-top: 50px;
  margin-top: -50px;
}

.feature-list {
  list-style: none;
}

.play-button {
  top: 32px;
  position: relative;
  align-self: flex-end;
  margin-right: 2px;
  font-size: 14px;
  color: black;
  border-radius: 5px;
  padding: 0px 6px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: greenyellow;
  letter-spacing: 0.5px;
}
.play-button:hover {
  color: orangered;
  cursor: pointer;
}
.section-example {
  display: flex;
  margin-bottom: 50px;
  flex-direction: column;
}
.tm-example {
  margin-left: 15px;
}
.license-cta {
  display: flex;
  margin-top: 50px;
  flex-direction: row;
  margin-bottom: 100px;
}
.license-col {
  display: flex;
  height: 300px;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
.license-title {
  text-align: center;
  font-size: 24px;
}
.license-price {
  font-weight: bold;
  font-size: 30px;
}
.license-desc {
  text-align: center;
  font-size: 16px;
}
.license-button {
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  border: 2px solid #1ca086;
  background-color: #1ca086;
}
.license-button:hover {
  background-color: white;
  color: #1ca086;
  cursor: pointer;
}