html {
  scroll-behavior: smooth;
}

.nodeco {
  background-image: none;
}

.App {
  padding: 35px 10px 10px 10px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.App-header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  position: fixed;
}
.logo {
  width: 40px;
}

.menu {
  display: flex;
  list-style: none;
  padding-top: 10px;
  align-items: center;
  background-color: white;
  justify-content: space-evenly;
}
.menu li {
  display: inline;
}

section {
  padding-top: 50px;
  margin-top: -50px;
}

.feature-list {
  list-style: none;
}

.play-button {
  top: 32px;
  position: relative;
  align-self: flex-end;
  margin-right: 2px;
  font-size: 14px;
  color: black;
  border-radius: 5px;
  padding: 0px 6px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: greenyellow;
  letter-spacing: 0.5px;
}
.play-button:hover {
  color: orangered;
  cursor: pointer;
}
.section-example {
  display: flex;
  margin-bottom: 50px;
  flex-direction: column;
}
.tm-example {
  margin-left: 15px;
}