.App {
  padding: 10px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.App-header {
  /* border-bottom: 1px solid; */
}

section.odd {
  background-color: white;
}
section.even {
  background-color: lightgray;
}

.feature-list {
  list-style: none;
}

.play-button {
  top: 32px;
  position: relative;
  align-self: flex-end;
  margin-right: 2px;
  font-size: 14px;
  color: black;
  border-radius: 5px;
  padding: 0px 6px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: greenyellow;
  letter-spacing: 0.5px;
}
.play-button:hover {
  color: orangered;
  cursor: pointer;
}
.section-example {
  display: flex;
  margin-bottom: 50px;
  flex-direction: column;
}
.tm-example {
  margin-left: 15px;
}